body {
  font-family: avenir, helvetica, sans-serif;
  padding: 40px;
  height: 4000px;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2.4em;
  font-weight: 200;
  letter-spacing: .07em;
}

.gauge-svg {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  margin: 20px; /* Adjust this value to add some margin from the edges */
}

.gauge-path {
  stroke-width: 6;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
